{% if template == 'product' %} 
<div class='donation' id='zeIHF3JU9rnZE' page='cart' productid='{{ product.id }}'>
	<div class='donation_loader'>
		<img width='130' height='130' src='https://zestardshop.com/shopifyapp/easy_donation/public/image/loader_new.svg'/>
	</div>
</div>
{% endif %}
{% if template == 'cart' %}
<div class='donation' id='zeIHF3JU9rnZE' page='cart'>
	<div class='donation_loader'>
		<img width='130' height='130' src='https://zestardshop.com/shopifyapp/easy_donation/public/image/loader_new.svg'/>
	</div>
</div>
{% endif %}<script src="https://zestardshop.com/shopifyapp/easy_donation/public/js/donation.js"></script>

<!-- Custom CSS -->
<style>
  .donation .fontpreview {box-shadow: none;border: 1px solid #e0e0e0;}
  .donation .easy_donation_title {font-size: 26px;margin-bottom: 10px;}
  .donation .donation_content .product-image {width: 100%;margin-bottom: 10px;}
  .donation .display_description {font-size: 15px;}
  .donation .btn.button.donation_button {color: #fff!important;
    padding: 9px 30px;
    background: #d7b4b5;
    border-radius: 20px;margin: 0;height: auto;text-transform: uppercase;font-size: 14px;letter-spacing: 1px;
  }
  .fontpreview input[type="number"] {box-shadow: none;outline: none;border: 1px solid #000;}
  .donation .radio_amount_section [type="radio"]:checked + label:after, .donation .radio_amount_section [type="radio"]:not(:checked) + label:after {
    width: 12px;
    height: 12px;
    top: 3px;
    left: 3px;
  }
</style>