<div class="yotpo yotpo-reviews-carousel" 
 data-header-customisation-enabled="1" 
 data-header-customisation-color="#56575f" 
 data-header-customisation-font-size="18" 
 data-header-customisation-text="Reviews from Our Skin Inc Community" 
 data-header-customisation-alignment="left" 
 data-background-color="transparent" 
 data-mode="top_rated" 
 data-type="product" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="3000" 
 data-show-navigation="1">&nbsp;</div>

  {% schema %}
  {
    "name": "review-carousel",
    "settings": [],
    "presets": [
      {
        "name": "review-carousel",
        "category": "Yotpo Reviews"
      }
    ]
  }
  {% endschema %}

  {% stylesheet %}
  {% endstylesheet %}

  {% javascript %}
  {% endjavascript %}
