<section class="section spaced">
 <div class="container">
   {% if product.metafields.yotpo.reviews_count and product.metafields.yotpo.reviews_count != "0" %}
    <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <span itemprop="itemReviewed">{{ product.title }}</span>
    has a rating of <span itemprop="ratingValue">{{ product.metafields.yotpo.reviews_average }}</span> stars
    based on <span itemprop="ratingCount">{{ product.metafields.yotpo.reviews_count }}</span> reviews.
    </div>
   {% endif %}
   {%- include "yotpo"-%}
 </div>
</section>
