<div class="treatment">
  <div class="container">
    {% section 'treatment_section' %}
    {% section 'treatment_text' %}
    {% section 'pampering_treatment' %}
    {% section 'exclusive_customer' %}
    
    <script type="text/javascript" async src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=P2hjrE"></script>
    <div class="klaviyo-form-SFJ89P"></div>

    
    
  </div>  
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script>
jQuery(document).ready(function($) {
      $('.oxycro .works_inner').slick({
        dots: false,
        infinite: true,
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        arrows: true,
        responsive: [{
          breakpoint: 768,
          settings: {
            dots: true,
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }]
    });
});
</script> 

<style>
.treatment_text h2 , .oxycro h2 , .book_app h4{
    font-family: 'Cormorant Garamond',serif!important;
    font-size: 42px;
    margin-bottom: 20px;
    color: #d7b4b5;
    font-style: italic;
    letter-spacing: 0!important;
    text-align: center;
}
.treatment_text .text_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.treatment_text .text_img img {
    width: 40%;
    margin-right: 30px;
}
.treatment_text .text_img .text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.5px;
}
.treatment_text .text_img h4 {
    letter-spacing: 0 !important;
    font-size: 24px;
    margin-bottom: 10px;
}
.oxycro {
    text-align: center;
    margin: 60px 0;
    letter-spacing: 0.5px;
}
.oxycro .works_inner {
    display: flex;
    margin: 60px 0;
}
.oxycro .works_inner .iocn-sec {
    width: 95% !important;
    margin: 0 10px;
    box-shadow: 5px 5px 5px rgb(68 68 68 / 22%);
    border-radius: 10px;
    padding: 25px 15px;
    font-size: 16px;
    line-height: 28px;
    height: 250px;
    overflow: hidden;
}
.oxycro .works_inner .iocn-sec h4 {
    font-size: 28px;
    margin-bottom: 5px;
    letter-spacing: 0!important;
    color: #626467;
    font-family: 'Cormorant Garamond',serif!important;
    font-style: italic;
    margin: 0 0 15px;
}
.oxycro .works_inner .iocn-sec b {
    margin-bottom: -20px;
    font-size: 18px;
    letter-spacing: 0;
    display: block;
}
.treatment_text .section-header p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto 60px;
}
.treatment_text .treatment_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.treatment_text .treat-bar__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 40px;
}
.treatment_text .treat-bar__item .left-logo-text {margin-right: 30px;}
.treatment_text .treat-bar__item .right-logo-text {
    width: 70%;
}
.treatment_text .treat-bar__item p.icon_text {
    font-size: 24px;
    margin-bottom: 5px;
    letter-spacing: 0!important;
    margin: 0 0 15px;
}
.treatment_text .treat-bar__item p.icon_subtext {
    font-size: 20px;
    font-weight: 600;
    color: #d7b4b5;
    margin-bottom: 15px;
}
.treatment_text .treat-bar__item p.point_text {
    font-size: 16px;
    line-height: 26px;
}
.exclusive_customer {
    border: 4px solid #d7b4b5;
    padding: 40px 20px;
    text-align: center;
    margin : 40px 0 60px;
}
.exclusive_customer h4 {
    font-size: 28px;
    letter-spacing: 0 !important;
    margin-bottom: 20px;
}
.exclusive_customer p {
    font-size: 18px;
}
.book_app {
    text-align: center;
    margin: 0 0 50px;
}
.book_app h4 {
    font-size: 40px;
    letter-spacing: 0 !important;
    margin-bottom: 20px;
}
.book_app p {
    font-size: 18px;
    line-height: 30px;
}
.treatment button.Form__Submit {
    background: #d7b4b5;
    font-size: 16px;
    margin-bottom: 80px;
} 
.treatment {
    overflow: hidden;
}
label.Form__FloatingLabel,input.Form__Input::placeholder {
    text-transform: capitalize;
}
.left-logo-text img {
    width: 450px;
    height: 280px;
    object-fit: cover;
}  
.tret_logo {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
} 
.tret_logo img {
    width: 100px;
}  
.book_an_app a {
    background: #c497a0;
    border: #c497a0;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 50px;
    width: 250px;
    display: inline-block;
}
.book_an_app {
    text-align: center;
    margin: 0 0 40px;
}
.book_an_app a:hover {
    background: transparent;
    color: #000;
    box-shadow: 7px 10px 10px 0px #d7b4b5;
}  
.treatment input , .needsclick.DropdownComponents__DropdownField-sc-1mxqjnw-2.iYqHJF.kl-private-reset-css-Xuajs1 ,.needsclick.PhoneNumberInputComponents__StyledPhoneInputContainer-sc-13l4vul-2.duzGKP.kl-private-reset-css-Xuajs1{
    color: #333 !important;
    border-color: #e0e0e0 !important;
    border-radius: 0 !important;
    font-family: Futura,sans-serif !important;
    font-size: 16px !important;
}
.treatment input::placeholder {
    color: #333 !important;
    font-family: Futura,sans-serif !important;    
    font-size: 16px !important;
}
.treatment form {
    padding: 0 0 !important;
}
.treatment button.needsclick {
    background: #d7b4b5 !important;
    margin-bottom: 80px !important;
    border: 0 !important;
    border-radius: 0 !important;
    padding: 16px 0 !important;
    color: #fff !important;
    text-transform: uppercase !important;
    font-family: Futura,sans-serif !important;
    font-size: 17px !important;
    font-weight: 400 !important;
    letter-spacing: 3px !important;
}
.treatment svg{
    fill: #333 !important;
}
.treatment div[role="option"] {
    font-family: Futura,sans-serif !important;
    font-size: 16px !important;
}  
.treatment .ql-snow.ql-container.ql-disabled p strong {
    font-family: Futura,sans-serif !important;
    font-weight: 400 !important;
    border: 4px solid #d7b4b5 !important;
    width: 100%;
    display: block;
    padding: 10px 0;
    font-size: 22px !important;
}
  
  
 
@media (max-width: 1024px) {
.treatment_text h2, .oxycro h2, .book_app h4 {
    font-size: 30px;
}
.oxycro .works_inner .iocn-sec h4 {
    font-size: 24px;
}
.oxycro .works_inner .iocn-sec b {
    font-size: 16px;
}
.treatment_text .treat-bar__item p.icon_text {
    font-size: 18px;
}  
.container {
    max-width: 100%;
}
.oxycro .works_inner .iocn-sec {
    height: auto;
}
  
}
  
@media (max-width: 767px) {  
.treatment_text .text_img img {
    width: 100%;
    margin: 0 0 20px;
}
.treatment_text .treat-bar__item,.treatment_text .text_img {
    flex-direction: column;
    align-items: flex-start;
}
.treatment_text .treat-bar__item .left-logo-text {
    margin-right: 0;
    margin-bottom: 16px;
}
.treatment_text .treat-bar__item .right-logo-text {
    width: 100%;
}  
.oxycro {
    margin-bottom: 90px;
}
  
}

  
</style>