<div id="skinid"></div>
<script type="text/javascript">
var link = document.createElement( "link" );
link.href = "https://d3gk6ho87bjc47.cloudfront.net/public/assets/sg/app.css";
link.type = "text/css";
link.rel = "stylesheet";
link.media = "screen,print";

document.getElementsByTagName( "head" )[0].appendChild( link );
</script>
<script type="text/javascript" defer  src="https://cdn.shopify.com/s/files/1/0077/6162/5201/t/93/assets/quiz-test.js?v=109497514052057580041685006328"></script>