<div class="container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="header">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent Rte">
    {{ page.content }}
  </div>
</div>
<script type="text/javascript"> (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=!0, e.src="//staticw2.yotpo.com/BySREs60jL49MgwVSiN5PSehGDu2C1n9gCdTvQAg/widget.js";var t=document.getElementsByTagName("script")[0]; t.parentNode.insertBefore(e,t)})(); </script>
<div id='yotpo-testimonials-custom-tab'></div>